<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.shadow.test.plugin.particular_cases.multidex.v1_0_2">

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity android:name=".PluginMultidexV1_0_2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>