<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.shadow.test.plugin.androidx_cases.lib">

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="com.tencent.shadow.test.plugin.androidx_cases.lib.TestComponentFactory">

        <activity android:name=".LiveDataWithActivityTestActivity" />
        <activity android:name=".AppComponentFactoryTestActivity" />
        <activity
            android:name=".AppCompatTestActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>