<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.shadow.test.plugin.androidx_cases.app">

    <application>
        <activity android:name="com.tencent.shadow.test.plugin.androidx_cases.lib.LiveDataWithActivityTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
