<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.shadow.test.plugin.general_cases.lib">

    <uses-feature android:glEsVersion="0x00020000" />

    <application
        android:name=".gallery.TestApplication"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name">

        <meta-data android:name="test_meta" android:value="test_value" />

        <activity android:name=".usecases.activity.TestListActivity"/>

        <activity android:name=".usecases.activity.TestActivityReCreate" />

        <activity android:name=".usecases.activity.TestActivityOnCreate" />

        <activity
            android:name=".usecases.activity.TestActivityOrientation"
            android:configChanges="orientation|screenSize|fontScale"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".usecases.activity.TestActivityWindowSoftMode"
            android:windowSoftInputMode="stateVisible"
            />

        <activity android:name=".usecases.activity.WindowSoftModeJumpActivity" />

        <activity android:name=".usecases.provider.TestDBContentProviderActivity" />

        <activity android:name=".usecases.activity.TestActivityReCreateBySystem" />

        <activity android:name=".usecases.service.TestStartServiceActivity" />

        <activity android:name=".usecases.receiver.TestReceiverActivity" />

        <activity android:name=".usecases.fragment.ProgrammaticallyAddFragmentActivity" />

        <activity android:name=".usecases.fragment.XmlAddFragmentActivity" />

        <activity android:name=".usecases.dialog.TestDialogActivity" />

        <activity android:name=".usecases.view.TestViewConstructorCache" />

        <activity android:name=".usecases.packagemanager.TestPackageManagerActivity" />

        <service android:name=".usecases.service.TestService" />

        <receiver android:name=".usecases.receiver.MyReceiver">
            <intent-filter>
                <action android:name="com.tencent.test.normal.action"/>
            </intent-filter>
        </receiver>

        <activity android:name=".usecases.provider.TestFileProviderActivity" />

        <activity android:name=".usecases.activity.PrintActivityResultActivity" />

        <activity android:name=".usecases.activity.TestCallingActivity" />

        <activity android:name=".usecases.application.TestApplicationActivity" />

        <activity android:name=".usecases.interfaces.TestHostInterfaceActivity" />

        <activity android:name=".usecases.context.ActivityContextSubDirTestActivity" />

        <activity android:name=".usecases.context.ServiceContextSubDirTestActivity" />
        <activity android:name=".usecases.context.TestThemeActivity" />

        <activity android:name=".usecases.context.ApplicationContextSubDirTestActivity" />
        <activity android:name=".usecases.application.TestGetApplicationInfoActivity" />
        <activity android:name=".usecases.activity.ApplicationContextActivity" />
        <activity android:name=".usecases.fragment.TargetFragmentTestActivity" />
        <activity android:name=".usecases.fragment.FragmentStartedActivity" />
        <activity android:name=".usecases.context.RegisterNullReceiverActivity" />
        <activity android:name=".usecases.dialog.TestAlertDialogActivity" />

        <provider
            android:authorities="com.tencent.shadow.provider.test"
            android:name=".usecases.provider.TestProvider" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tencent.shadow.test.plugin.general_cases.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>