<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comcom.tencent.shadow.test.hostapp.test">

    <!-- Multi-Process Espresso only works on API level 26 and above-->
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="28" />

    <!--
      This custom androidTest/AndroidManifest.xml is required because the current Gradle DSL
      doesn't support the ability to define the new "targetProcesses" Instrumentation attribute and
      to define custom "meta-data" tags that are required in this case.
    -->

    <instrumentation
        android:name="com.tencent.shadow.test.CustomAndroidJUnitRunner"
        android:targetPackage="com.tencent.shadow.test.hostapp">
        <!-- 不设置targetProcesses为*是因为.plugin_service进程在PluginServiceConnectionTest中会被kill掉 -->

        <!--
          The following is used by AndroidJUnitRunner (AJUR) to init Espresso in the new PID. This
          is mandatory and is required because AJUR is automatically instantiated by the Android
          framework itself since it's simply an Instrumentation. However, Espresso is just a testing
          framework that is used by AJUR so it's responsible to instantiate it on the remote process
          in order for handle all the actions from the original process.
        -->
        <meta-data
            android:name="remoteMethod"
            android:value="androidx.test.espresso.remote.EspressoRemote#remoteInit" />

    </instrumentation>
</manifest>
